.toc-tac-toe-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.subHeading {
  font-size: 18px;
}

.heading {
  font-size: 28px;
  font-weight: 900;
}

.board {
  padding: 20px;
}
